.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #080710;
  font-family: Arial, sans-serif;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background > .shape1 {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.background > .shape2 {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape1 {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}
.shape2 {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -80px;
  bottom: -80px;
}
